<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ establecimiento.id_establecimiento }} - {{ establecimiento.direccion }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteEstablecimiento(establecimiento.id_establecimiento)">Eliminar</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="establecimiento.direccion">Direccion: {{ establecimiento.direccion }}</p>
    <p ng-if="establecimiento.ciudad">Ciudad: {{ establecimiento.ciudad }} </p>
    <p ng-if="establecimiento.pais">Pais: {{ establecimiento.pais }} </p>
    <p ng-if="establecimiento.telefono">Telefono: {{ establecimiento.telefono }} </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Editar</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Atras</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>