<div class="row" ng-hide="establecimiento.id_establecimiento">
  <div class="col-md-6">
      <h2>Creación Nuevo Establecimiento</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Dirección (*)</label> 
      <input id="name" class="form-control" type="text" ng-model="establecimiento.direccion" required> 
    </p>
    <p>
      <label>Ciudad(*)</label> 
      <input id="name" class="form-control" type="text" ng-model="establecimiento.ciudad" required> 
    </p>
    <p>
      <label>País (*)</label> 
      <input id="name" class="form-control" type="text" ng-model="establecimiento.pais" required> 
    </p>
    <p>
      <label>Teléfono</label> 
      <input id="name" class="form-control" type="text" ng-model="establecimiento.telefono"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveEstablecimiento(establecimiento)">Guardar</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Átras</button>
    </p>
  </div>
</div>