<div class = "row">
  <div class="col-md-6">
    <h4>
      {{ producto.codigo | uppercase }} - {{ producto.nombre }}
    </h4>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/listaProducto"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteProducto(producto.codigo)">Eliminar</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="producto.codigo">Codigo: {{ producto.codigo | uppercase }}</p>
    <p ng-if="producto.nombre">Nombre: {{ producto.nombre }}</p>
    <p ng-if="producto.moneda">Moneda: {{ producto.moneda }} </p>
    <p ng-if="producto.descripcion">Descripcion: {{ producto.descripcion }} </p>
    <p ng-if="producto.precio">Precio: {{ producto.precio }} </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Editar</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/listaProducto">Atras</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>