<div class="row" ng-hide="editMode">
  <div class="col-md-6">
      <h2>Creación Nuevo Producto</h2>
  </div>
</div>

<div class="container">
  <div>
    <!-- Solo se muestra al momento de editar, no de crear. -->
    <div ng-hide="editMode">
    	<p>
      		<label>Código (*)</label> 
      		<input id="name" class="form-control text-uppercase" type="text" ng-model="producto.codigo"  required>
      	</p>
    </div>
    <p>
      <label>Nombre (*)</label> 
      <input id="name" class="form-control" type="text" ng-model="producto.nombre" required> 
    </p>
    <p>
      <label>Moneda(*)</label> 
      <input id="name" class="form-control text-uppercase" type="text" ng-model="producto.moneda" required > 
    </p>
    <p>
      <label>Descripción (*)</label> 
      <input id="name" class="form-control" type="text" ng-model="producto.descripcion" required> 
    </p>
    <p>
      <label>Precio</label> 
      <input id="name" class="form-control" type="text" ng-model="producto.precio"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveProducto(producto)">Guardar</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Átras</button>
    </p>
  </div>
</div>